.container {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.button-add {
    margin-bottom: 3px;
    background: #0cf158;
    width: 100%;
    height: 30px
    
}